@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.blink {
    -webkit-animation: blinker 1.8s steps(1) 0 infinite;  
    animation: blinker 1.8s steps(1) 0 infinite;  
}

.huge {
    font-family: 'Coda Caption', sans-serif;
    font-size: 60pt;
    text-align: center;
    width: 100%;
}

.red {
    color: #FF0000;
}

.black-screen {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
