@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.blink {
    -webkit-animation: blinker 1.8s steps(1) 0 infinite;  
    animation: blinker 1.8s steps(1) 0 infinite;  
}

.huge {
    font-family: 'Coda Caption', sans-serif;
    font-size: 60pt;
    text-align: center;
    width: 100%;
}

.red {
    color: #FF0000;
}

.black-screen {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.header {
    text-align: center;
}

input {
    text-align: center;
}

.jumbotron {
    background-color: inherit;
    padding-bottom: 0px;
}

.social-bar {
    display: block;
    text-align: center;
}

.row {
    margin-bottom: 5px;
}

.gap {
    margin-bottom: 50px;
}

i.fa-facebook-square:hover {
    color: #3B5998;
}

.input-group-btn > button {
    width: 75px;
}

.form-control[readonly] {
    background-color: #FFFFFF;
    cursor: inherit;
    border-radius: 0px;
    border: none;
}

.form-control[readonly]:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.btn i.fa {
    line-height: inherit;
}
