<html>
<head>
<title>[BREAKING]</title>
<link href='http://fonts.googleapis.com/css?family=Coda+Caption:800' rel='stylesheet' type='text/css'>
<link href='../static/literally.css' rel='stylesheet' type='text/css' >
</head>

<body class='black-screen'>
<div class='huge red gag' style='visibility: hidden'>404<br/>PAGE NOT FOUND</div>
</body>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='../static/jquery.fittext.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js'></script>
<script type='text/javascript'>
    $('.gag').fitText();
    $('.gag').center().css('visibility', 'visible').addClass('blink');
    $(window).on('resize.fittext orientationchange.fittext', function() {
       $('.gag').center();
    });
</script>

</html>
